$background: cadetblue;
// mapas
$estilos: (
    color: white,
    centro: center,
    tfuente: 50px
);
// mixins
@mixin crearbordes($colorborde, $size){
    border: solid $colorborde $size;
}
* {
    margin: 0;
    padding: 0;
   }
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container-lg{
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
}
.collapse{
    display: flex;
    justify-content: flex-end;
}
.navbar-brand{
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    margin: auto;
}
#logo-nav{
    width: 120px;
    height: 110px;
    margin: 0px;
    padding: 0px;
}
/*titulo*/
#titulo{
    background-color: $background;
    color: map-get($map: $estilos , $key: color);
    text-align: map-get($map: $estilos, $key: centro);
    font-size: map-get($map: $estilos, $key: tfuente);
    font-family:cursive;
    border-bottom: solid black;
    width: 750px;
    padding: 0px;
    margin: auto;
    margin-bottom: 50px;
}

/*fin del titulo*/

/*bara de herramientas */

nav{
    margin-top: 30px;
    margin-bottom: 50px;
}
/* bara de herramientas */

/* subtitulos */

.sub_titulo{
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 780px;
}
/* fin de subtitulos */
.img_index_1{
    margin-left: 50px;
    margin-bottom: 70px;
    @include crearbordes(#5D6D7E, 10px);
    width: 750px;
    height: 450px;
}

.img_index_2{
    margin-left: 340px;
    margin-bottom: 70px;
    @include crearbordes(#5D6D7E, 10px);
    width: 750px;
    height: 450px;
}
.historia_1{
    display: inline-block;
    width: 700px;
    height: auto;
    margin-left: 320px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
.historia_2{
    display: inline-block;
    width: 700px;
    height: auto;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
/* inicio de pagina contacto */

#color_de_contacto{
    background-color: #D4E6F1;
}

/* titulo */
.pag_titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 40px;
}
/* titutlo */

/* inicio de formulario */
.contacto-formulario{
    display: inline-block;
    text-align:center;
    margin-left: 800px;
    margin-top: 20px;
    font-weight: bold;

    .formulario_cajas{
        display: flex;
        margin: auto;
        width: 300px;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
}
.formulario_boton{
    width: 100px;
    height: 50px;
    background-color: #3498DB;
    margin-bottom: 180px;
    margin-top: 60px;
}
/* fin de formulario */
/* fin de pagina contacto */
/* color de fonde de ayuda */
#color_de_ayuda{
    background-color: #A9CCE3;
}
/* color de fondo de ayuda */
/* formulario de ayuda */
.formulario_cajas_ayuda{
    @extend .formulario_cajas;
    margin-top: 30px;
  }
/* inicio de pag ingredientes */
/* fondo */
#color_de_ingredientes{
    background-color: #d1e4f1;
}
/* fondo */
/* ingredientes */
.listado{
    margin: auto;
    margin-left: 750px;
    margin-bottom: 80px;

    .listado_ing{
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
    }
}
/* fin de ingredientes */
/* video */
.exp_video{
    font-size:30px;
    font-weight: bold;
    margin-left: 670px;
    margin-bottom: 30px;
}
.video{
    margin-left: 600px;
    margin-bottom: 80px;
}

/* fin de pag ingredientes */
/* incio de pag nosotros */
/* fondo */
#fondo_nosotros{
    background-color:#D1F2EB ;
}
/* parrafo */
#texto{
    width: 850px;
    height: 200px;
    text-align: center;
    margin: 50px 0px 50px 550px;
    background-color: #A3E4D7;

    #parrafo{
        font-size: 25px;
        font-weight: bold;
    }
}
/* fin de parrafo */
/* img */
#img_formato{
    display: flex;
    justify-content: space-around;

    .img_nosotros{
        width: 700px;
        height: 400px;
        border: solid #807DFA 8px;
        margin-bottom: 80px;
    }
}
/* pie de pagina */
footer{
    width: 100%;
    background: #202020;
    color: white;
    .container-footer-all{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
        .container-body{
            display: flex;
            justify-content: space-between;
            .columna-1{
                max-width: 400px;
                .titulo-footer{
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                    color: #C7C7C7;
                    margin-top: 20px;
                    max-width: 230px;
                }
            }
            .columna-2{
                max-width: 400px;
                .titulo-footer{
                    font-size: 22px;
                }
                .fila{
                    margin-top: 20px;
                    display: flex;
                    img{
                        width: 36px;
                        height: 36px;
                    }
                    label{
                        font-size: 15px;
                        margin-top: 5px;
                        margin-left: 15px;
                        a{
                            text-decoration: none;
                            color: #C7C7C7;
                        }
                    }
                }
            }
            .columna-3{
                max-width: 400px;
                .titulo-footer{
                    font-size: 20px;
                }
                .fila-2{
                    margin-top: 20px;
                    display: flex;
                    img{
                        width: 36px;
                        height: 36px;
                        border-radius: 20px;
                    }
                    label{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
/* fin de pie de pagina */
/* pseudoclases */
// modelo tablet
@media screen and (max-width: 768px) {
    #titulo{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #3a4166;
        font-size: 45px;
        width: auto;
        height: 55px;
    }
    .sub_titulo{
        display: block;
        font-size: 20px;
        margin: 0%;
        padding-top: 30px;
        #tama単o_sub-tit{
            font-size: 10px;
        }
    }
    .img_index_1{
        display: block;
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 25px;
        border: solid 8px #5D6D7E;
        width: 700px;
        height: 400px;
    }
    .historia_1{
        margin-left: 25px;
        width: 700px;
    }
    .historia_2{
        margin-left: 25px;
        width: 700px;
    }
    .img_index_2{
        display: block;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 25px;
        border: solid 8px #5D6D7E;
        width: 700px;
        height: 400px;
    }
    // pagina ingre
    .pag_titulo{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 30px;
    }
    .listado{
        margin: auto;
        margin-left: 280px;
        margin-bottom: 50px;
    }
    .exp_video{
        font-size:25px;
        font-weight: bold;
        margin-left: 160px;
        margin-bottom: 20px;
    }
    .video{
        margin-left: 150px;
        margin-bottom: 40px;
        width: 500px;
        height: 300px;
    }
    /* pagina contacto */
    #color_de_contacto{
        background-color: #c5dbf7;
    }
    .contacto-formulario{
        display: inline-block;
        text-align:center;
        margin-left: 280px;
        margin-top: 15px;
        .formulario_cajas{
            display: flex;
            margin: auto;
            width: auto;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }
    .formulario_boton{
        width: 60px;
        height: 40px;
        background-color: #5758a8;
        color: white;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    // pagina nosotros
    #texto{
        width: 460px;
        height: 200px;
        margin-left: 150px;
        #parrafo{
            font-size: 17px;
        }
    }
    #img_formato{
        display: inline-block;
        .img_nosotros{
            width: 300px;
            height: 230px;
            margin-left: 55px;
            margin-bottom: 20px;
        }
    }
}

/* inicia el modelo celular */
@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .columna-2, .columna-3{
        margin-top: 30px;
    }
}
@media screen and (max-width: 425px) {
    .container-lg{
        display: flex;
        justify-content:baseline;
    }
    .navbar-nav .nav-item{
        margin-right: 140px;
    }
    .navbar-brand{
       width: 0px;
       height: 0px; 
    }
    #titulo{
        margin-top: 10px;
        margin-left: 1px;
        margin-bottom: 10px;
        background-color: #CD5C5C;
        font-size: 20px;
        width: auto;
        height: 30px;
    }
    .sub_titulo{
        display: block;
        font-size: 20px;
        margin: 0%;
        padding-top: 20px;
        #tama単o_sub-tit{
            font-size: 10px;
    }
    }
    .img_index_1{
        display: block;
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 15px;
        border: solid 5px #fa8787;
        width: 392px;
        height: 250px;
    }
    .historia_1{
        margin-left: 10px;
        width: 400px;
        height: 250px;
    }
    .historia_2{
        margin-left: 10px;
        width: 400px;
        height: 250px;
    }
    .img_index_2{
        display: block;
        margin-top: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        border: solid 5px #fa8787;
        width: 392px;
        height: 250px;
    }
    /* pagina ingredientes */
    .pag_titulo{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 30px;
    }
    .listado{
        margin: auto;
        margin-left: 18px;
        margin-bottom: 50px;
    }
    .exp_video{
        font-size:25px;
        font-weight: bold;
        margin-left: 8px;
        margin-bottom: 10px;
    }
    .video{
        margin-left: 35px;
        margin-bottom: 40px;
        width: 350px;
        height: 200px;
    }
    /* pagina contacto */
    #color_de_contacto{
        background-color: #c5dbf7;
    }
    .contacto-formulario{
        display: inline-block;
        text-align:center;
        margin-left: 98px;
        margin-top: 15px;
        .formulario_cajas{
            display: flex;
            margin: auto;
            width: auto;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }
    .formulario_boton{
        width: 60px;
        height: 40px;
        background-color: #5758a8;
        color: white;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    footer{
        width: 100%;
    }
    // pagina ayuda
    #titulo_ayuda{
        font-size: 10px;
        width: 350px;
        margin-left: 40px;
    }
    // pagina nosotros
    #texto{
        width: 400px;
        height: 208px;
        margin-left: 11px;
        #parrafo{
            font-size: 17px;
        }
    }
    #img_formato{
        display: inline-block;
        .img_nosotros{
            width: 400px;
            height: 260px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 375px) {
    .container-lg{
        display: flex;
        justify-content:baseline;
    }
    .navbar-nav .nav-item{
        margin-right: 160px;
    }
    .navbar-brand{
       width: 0px;
       height: 0px; 
    }
    #titulo{
        margin-top: 10px;
        margin-left: 1px;
        margin-bottom: 10px;
        background-color: #CD5C5C;
        font-size: 20px;
        width: auto;
        height: 30px;
    }
    .sub_titulo{
        display: block;
        font-size: 20px;
        margin: 0%;
        padding-top: 20px;
        #tama単o_sub-tit{
            font-size: 10px;
    }
    }
    .img_index_1{
        display: block;
        margin-top: 20px;
        margin-left: 12px;
        margin-bottom: 15px;
        border: solid 5px #fa8787;
        width: 350px;
        height: 230px;
    }
    .historia_1{
        margin-left: 10px;
        width: 350px;
        height: 300px;
    }
    .historia_2{
        margin-left: 10px;
        width: 350px;
        height: 300px;
    }
    .img_index_2{
        display: block;
        margin-top: 12px;
        margin-bottom: 0;
        margin-left: 15px;
        border: solid 5px #fa8787;
        width: 350px;
        height: 230px;
    }
    /* pagina ingredientes */
    .pag_titulo{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 30px;
    }
    .listado{
        margin: auto;
        margin-left: 18px;
        margin-bottom: 50px;
    }
    .exp_video{
        font-size:25px;
        font-weight: bold;
        margin-left: 8px;
        margin-bottom: 10px;
    }
    .video{
        margin-left: 12px;
        margin-bottom: 40px;
        width: 350px;
        height: 194px;
    }
    /* pagina contacto */
    #color_de_contacto{
        background-color: #c5dbf7;
    }
    .contacto-formulario{
        display: inline-block;
        text-align:center;
        margin-left: 73px;
        margin-top: 15px;
        .formulario_cajas{
            display: flex;
            margin: auto;
            width: auto;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }
    .formulario_boton{
        width: 60px;
        height: 40px;
        background-color: #5758a8;
        color: white;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    footer{
        width: 100%;
    }
    // pagina ayuda
    #titulo_ayuda{
        font-size: 10px;
        width: 300px;
        margin-left: 40px;
    }
    // pagina nosotros
    #texto{
        width: 350px;
        height: 215px;
        margin-left: 13px;
        #parrafo{
            font-size: 17px;
        }
    }
    #img_formato{
        display: inline-block;
        .img_nosotros{
            width: 350px;
            height: 230px;
            margin-left: 13px;
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 320px) {
    .container-lg{
        display: flex;
        justify-content:baseline;
    }
    .navbar-nav .nav-item{
        margin-right: 140px;
    }
    .navbar-brand{
       width: 0px;
       height: 0px; 
    }
    #titulo{
        margin-top: 10px;
        margin-left: 1px;
        margin-bottom: 10px;
        background-color: #CD5C5C;
        font-size: 20px;
        width: auto;
        height: 30px;
    }
    .sub_titulo{
        display: block;
        font-size: 20px;
        margin: 0%;
        padding-top: 20px;
        #tama単o_sub-tit{
            font-size: 10px;
    }
    }
    .img_index_1{
        display: block;
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 15px;
        border: solid 5px #fa8787;
        width: 300px;
        height: 200px;
    }
    .historia_1{
        margin-left: 10px;
        width: 300px;
        height: 200px;
    }
    .historia_2{
        margin-left: 10px;
        width: 300px;
        height: 200px;
    }
    .img_index_2{
        display: block;
        margin-top: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        border: solid 5px #fa8787;
        width: 300px;
        height: 200px;
    }
    /* pagina ingredientes */
    .pag_titulo{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 30px;
    }
    .listado{
        margin: auto;
        margin-left: 18px;
        margin-bottom: 50px;
    }
    .exp_video{
        font-size:25px;
        font-weight: bold;
        margin-left: 8px;
        margin-bottom: 10px;
    }
    .video{
        margin-left: 8px;
        margin-bottom: 40px;
        width: auto;
        height: auto;
    }
    /* pagina contacto */
    #color_de_contacto{
        background-color: #c5dbf7;
    }
    .contacto-formulario{
        display: inline-block;
        text-align:center;
        margin-left: 30px;
        margin-top: 15px;
        .formulario_cajas{
            display: flex;
            margin: auto;
            width: auto;
            justify-content: flex-start;
            margin-bottom: 20px;
        }
    }
    .formulario_boton{
        width: 60px;
        height: 40px;
        background-color: #5758a8;
        color: white;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    footer{
        width: 100%;
    }
    // pagina ayuda
    #titulo_ayuda{
        font-size: 10px;
        width: 280px;
        margin-left: 30px;
    }
    // pagina nosotros
    #texto{
        width: 300px;
        height: 260px;
        margin-left: 10px;
        #parrafo{
            font-size: 17px;
        }
    }
    #img_formato{
        display: inline-block;
        .img_nosotros{
            width: 300px;
            height: 230px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
    }
}